/*Upload button*/
.studyManagementButtonUpload {
  color: black;
  background-color: lightgoldenrodyellow;
  border-radius: 4px;
  font-size: 18px;
  height: auto;
  width: 180px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

/*Table*/
.patientManagementTable {
  border: sold 1px grey;
  font-size: 14px;
  padding: 2px;
  text-align: center;
  border-collapse: inherit;
  width: 100%;
}

/*Each cell of the header*/
.patientManagementTableHeaderTD {
  border: solid 1px black;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  background: grey;
  color: white;
}

/*If the patient is the active patient*/
.rowSelected {
  color: #f28227;
  white-space: initial;
}

/*If the patient is NOT the active patient*/
.noSelectedRow {
  color: white;
}

/*Each cell of the body*/
.patientManagementTableBodyTD {
  padding: 1px;
  border: solid 1px grey;
  font-size: 14px;
  text-align: center;
}

/*When the text changes to laoded it doesn't expand*/
.loadCell {
  width: 240px;
  transition: 0.3s;
}

.loadCell:hover {
  background-color: rgb(50, 50, 50);
  font-size: 18px;
}

/*Delete Icon of each patient*/
.deleteCell {
  color: red;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.deleteCell:hover {
  background-color: rgb(50, 50, 50);
}

/*Confirm delete modal*/
.confirmDeletePatientlabel {
  color: yellow;
  text-align: center;
  font-size: 25px;
}

/*Deleting patient modal*/
.deletingPatientlabel {
  color: red;
  text-align: center;
  font-size: 25px;
}
