.market-container {
    background-color: black;
    color: white;
    margin: 20px;
}

.accordion-summary {

    background-color: black ! important;
    color: white ! important;
}
.accordion-summary:hover{
    border: solid 3px orange;
    border-radius: 10px;
}

.MuiAccordionDetails-root {
    background-color: black ! important;
    color: white;
    padding: 10px;
}

.input-prov {
    background: #808080;
    color: white ! important;
    padding: 10px;
    border-radius: 5px;
}

.input-prov:focus {
    color: black ! important;

}

.input-prov:hover {
    color: black ! important;
}

.MuiPaper-root {
    border-radius: 15px !important;
}


.MuiCardHeader-title {
    color: white;
}

.MuiCardContent-root {
    color: white;
}

.MuiCard-root {
    background: black !important;
    margin: 1vh;
    border: solid white;
}

.MuiCard-root:hover {
    background: black !important;
    margin: 1vh;
    border: solid;
    border-radius: 15px;
    border-color: var(--tab-text-color-active);
}

.smalldescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Estilo predeterminado del botón */
.cardButton {
    border: solid 3px !important; /* Color de borde predeterminado */
    color: white !important;

}

/* Estilo al pasar el mouse sobre el botón */
.cardButton:hover {
    border: solid; /* Para restablecer el estilo de borde */
    border-color: var(--tab-text-color-active) !important; /* Nuevo color de borde al pasar el mouse */
    background-color: #808080 !important; /* Nuevo color de fondo al pasar el mouse */
}

.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 8px; /* Padding */
    z-index: 9999;
    height: 50vh; /* Altura del 50% del viewport */
    width: 50vw; /* Ancho del 50% del viewport */
    max-height: 80vh; /* Altura máxima del contenedor */
    /*background-color: #808080 !important;*/
    background-color: black;
    border: solid;
    border-color: white;
}

.descriptionBox {
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    height: 70%;
    width: 100%;
}
