.mainBlock {
    background-color: var(--primary-background-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: nowrap;
    min-width: 500px;
    min-height: 500px;
    overflow: auto;
}

.tab {
    width: calc(100% - 2px);
    height: 45px;
    background-color: var(--primary-background-color);
    color: var(--default-color);
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: var(--primary-background-color);
    color: var(--text-primary-color);
    /*  float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--ui-gray-darker);
    color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.tab button.active {
    /*border-radius: 5px;*/
    background-color: var(--ui-gray-darkest);
    color: var(--tab-text-color-active);
    border: 3px solid var(--tab-text-color-active);
    border-top: transparent;
    border-bottom: transparent;

}

/* Style the tab content */
.tabcontent {
    background-color: var(--primary-background-color);
    color: var(--default-color);
    padding: 6px 0px 6px 0;
    border: none;
    border-top: none;
    width: 100%;
    height: calc(100% - 50px - 12px);
}

.tableList p {
    color: var(--default-color);
}

.patientTable {
    background-color: var(--ui-gray-darker);
    color: var(--text-primary-color);
    padding: 6px 12px 6px 12;
    border: none;
    width: 500px;
    height: calc(100% - 50px - 12px);
}

.patienTableHeader {
    color: var(--default-color);
}

.tab > button {
    font-size: 16px;
}

/*
.react-hint {
  background-color: #F28227;
  font-size: 12px;
} */

.mainExplanationText {
    padding-top: 4em;
    font-size: 18px;
    width: 65%;
}

.nameAppDiv {
    padding-top: 20px;
}

.clinicalGoalTempDownloadDiv,
.contourNameStandardDownloadDiv {
    background-color: grey;
    border: 2px;
    border-radius: 5px;
    position: relative;
    display: inline-flex;
    width: 500px;
    height: 48px;
    padding-top: 5px;
}

.ant-modal .ant-modal-footer {
    padding: 4px;
}
