.PatientModelingHistoryView {
  /*  background-color: var(--ui-gray-darker);*/
  color: var(--text-primary-color);
  padding: 6px 0px 0px 4px;
  border: none;
  width: 99%;
  font-size: 14px;
  display: inline-flex;
}

.scrollPreviews {
  overflow: auto;
  white-space: nowrap;
  cursor: pointer;
}

.scrollItem {
  background-color: var(--ui-gray-darker);
  height: inherit;
  width: inherit;
  border: none;
  display: inline-block;
}

.scrollItem.active {
  display: inline-block;
  border: 1px solid var(--tab-text-color-active);
}

.scrollItem.active_secondary {
  display: inline-block;
  border: 1px solid var(--tab-text-color-active);
  border-style: dotted;
}

.seriesTableList {
  width: 100%;
  height: 100%;
  color: var(--default-color);
  font-size: 14px;
}

.seriesTable {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
  padding: 0px 12px;
  border: none;
  display: inline-block;
}

.seriesTable td.label {
  color: var(--table-text-color-label);
}

.rowToolbar {
  display: block;
  height: 10%;
  width: 100%;
}

.row {
  display: block;
  height: 50%;
  width: 100%;
}

.Views3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
  height: 100%;
  width: 100%;
}

.col {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
  height: 100%;
  width: 50%;
  padding: 4px 4px;
}

.row-sm-1 {
  height: 100%;
  width: 100%;
  float: top;
}

.row-sm-2 {
  height: 50%;
  width: 100%;
}

.col-sm-4 {
  float: left;
  height: 100%;
  width: 50%;
}

.box3d {
  display: block;
  height: 100%;
  width: 100%;
}

.PatientModelingVTK {
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.PatientModelingVTKMain {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 60px);
  padding: 0 0 0 0;
  position: relative;
}

.SegPanel {
  overflow: auto;
  width: 210px;
  height: 100%;
  display: inline-block;
  position: relative;
}

.ImageViews {
  width: calc(100% - 200px);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
  position: relative;
}

.ImagePreviewsBottom {
  width: 100%;
  height: calc(25px - 12px);
  float: bottom;
  position: relative;
  padding: 6px 0 6px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.ImagePreviewsBottom.extended {
  width: 100%;
  height: calc(200px - 12px);
  float: bottom;
  position: relative;
  padding: 6px 0 6px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

.ModelingImageView {
  display: block;
  width: 100%;
  height: calc(100% - 250px);
  float: top;
  position: relative;
}

.ModelingImageView.extended {
  display: block;
  width: 100%;
  height: calc(100% - 25px);
  float: top;
  position: relative;
}

.previewsList {
  width: calc(100% - 60px);
  height: 110%;
  display: inline-block;
  position: relative;
}

.previewsIcon {
  width: calc(60px - 10px);
  height: calc(100% - 10px);
  display: inline;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
}

.SegPanelContent {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}

.segmentVisibility {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ToolBarSelection {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
}

.toolsTab {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
}

.toolsTab button {
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
  float: left;
  border: none;
  outline: #1f1f1f;
  cursor: pointer;
  padding: 2px 3px;
  transition: 0.3s;
  width: 180px;
  margin-bottom: 3px;
}

/* Change background color of buttons on hover */
.toolsTab button:hover {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.toolsTab button.active {
  background-color: var(--ui-gray-darkest);
  color: var(--tab-text-color-active);
}

.drawTools {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
}

.drawTools td {
  cursor: pointer;
}

.medIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.smallIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.roiTool {
  color: var(--default-color);
}

.roiTool.active {
  color: var(--tab-text-color-active);
}

.roiTool.disabled {
  color: var(--tab-text-color-disabled);
}

.space20px {
  width: 20px;
  height: 100%;
}

.viewIJK3D {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: flex-start;
}

.viewTab {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
}

.viewTab button {
  height: 100%;
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 3px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.viewTab button:hover {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.viewTab button.active {
  background-color: var(--ui-gray-darkest);
  color: var(--tab-text-color-active);
}

/* Style the tab content */
.viewTabContent {
  width: 100%;
  height: calc(100%);
  background-color: var(--primary-background-color);
  color: var(--default-color);
  border: 1px solid #ccc;
}

.ProgressBar {
  display: block;
  height: 40px;
  width: calc(100% - 40px);
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
}

.Progress {
  background-color: var(--default-color);
  color: var(--text-primary-color);
}

.segment {
  background-color: var(--primary-background-color);
  border: none;
}

.segment.active {
  background-color: var(--ui-gray-darker);
  color: var(--tab-text-color-active);
}

.slidecontainer {
  width: 150px; /* Width of the outside container */
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
}

/* The slider itself */
.slider {
  appearance: none;
  width: 100%; /* Full-width */
  height: 100%; /* Specified height */
  background: var(--primary-background-color);
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.formInput {
  width: 320px;
}

.scrollHistoryList {
  background-color: var(--ui-gray-darker);
  height: calc(100%-30px);
  width: 100%;
  border: 1px solid var(--tab-text-color-active);
  overflow: auto;
}

.scrollHistoryList h1 {
  color: var(--default-color);
  padding: 0 0 3px 0;
}

.scrollHistoryList th {
  color: var(--default-color);
  padding: 0 5px 0 0;
}

.tabcontent {
  background-color: var(--primary-background-color);
  color: var(--default-color);
  padding: 6px 0px 6px 0;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  border-top: none;
  width: 100%;
  height: calc(100% - 50px - 15px);
}

.colorBarButtonDiv {
  position: absolute;
  right: 2px;
  height: 113px;
  padding: 2px;
  background-color: #1a1a1a;
  color: white;
  width: max-content;
  z-index: 5;
  opacity: 80;
}

.colorlabelDiv {
  color: white;
  font-size: 9px;
  background-color: #1a1a1a;
}

.colorStickTd {
  height: 10px;
  width: 10px;
  padding: 0px;
  margin: 0px;
  width: 5px;
}

.colorLabelTd {
  color: white;
  text-align: right;
  width: 7px;
  font-size: 7px;
}

.colorBtnTable {
  width: 24px;
  height: 100px;
}

.colorBtnTableDiv {
  width: 24px;
  height: 100px;
  position: absolute;
  right: 2px;
}

.segTableTBody {
  display: inline-block;
  width: 200px;
  max-height: 30em;
  min-height: 20em;
}

.segTable {
  position: relative;
  height: 100%;
  display: inline-block;
  padding-left: 5px;
}

.react-confirm-alert-overlay.undefined {
  background: none;
}

.cModDescAnatomicalBarriersRadio input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  background-color: yellow;
  border-radius: 3px;
  color: black;
  display: inline-block;
}

.cmdDescriptionAnatomicalLabel,
.cmdDescriptionAddImageLabel,
.cmdDescriptionNoComplianceLabel,
.cmdDescriptionNoGroupLabel {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  width: 140px;
  height: auto;
  border-radius: 3px;
  color: white;
  white-space: normal;
  background-color: #1f1f1f;
}

.contourModificationDescriptionTableDiv {
  overflow: scroll;
}

.cmDescriptionStandarizationLabel {
  padding-top: 10px;
  padding-bottom: 5px;
}

.contourModificationDescriptionTable thead tr:nth-child(1) th {
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 1;
}

.contourModificationHistoryTable thead tr:nth-child(1) th {
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 1;
}

.controlModificationHistoryTableDiv {
  overflow: auto;
  width: 100%;
  height: 90%;
  position: relative;
}

.selectedHistroyImageView {
  width: 50%;
  height: 50%;
  position: absolute;
}

.contorModificationEntreLabelTextInput {
  color: black;
}

.contourNameLabel {
  padding-right: 14px;
}

.calculatingLinearProgress {
  color: '#e8eaf6';
  background: '#03a9f4';
}

.calculatingPlanlabel {
  text-align: center;
  font-size: 22px;
  color: yellow;
}

.deleteSelectHistoryConfirmInfo {
  display: inline-flex;
}

.deleteHistoryChangeLable {
  padding-left: 60px;
}

iframe {
  display: none;
}

.historyImageViewDiv {
  height: 10em;
}

.tableRowSelected {
  color: #f28227;
  white-space: initial;
}

.noSelectedRow {
  color: white;
}

.modiviationHistoryImageViewDiv {
  display: inline-flex;
  padding-top: 3px;
  height: 50%;
  overflow: auto;
}

.contourModificationHistoryTHDiv {
  padding-left: 12px;
  display: inline-flex;
}

.react-confirm-alert-body h1 {
  color: black;
}

.contorModificationEntreOtherDescriptionInput,
.contorModificationEntreLabelTextInput {
  width: 400px;
  color: black;
}
