.ntcpModelDropdownToggle {
  color: #1f1f1f;
  width: 14em;
  margin-left: 10px;
}

.ntcpModelDropdownItemDiv {
  height: 350px;
  display: inline-grid;
  overflow: auto;
  background-color: black;
  height: auto;
  min-height: 12px;
  margin-bottom: 4px;
}
.ntcpModelDropdownItemDiv > a {
  color: white;
  width: 14em;
  background-color: #1f1f1f;
}
